/*FLEX TWEAKS — Updated 11/21/25*/

/*Removing Line Animations*/
.tweak-global-animations-animation-type-flex .sqs-block p a:hover, .tweak-global-animations-animation-type-flex .header-menu-nav-item:not(.header-menu-nav-item--active) a, .tweak-global-animations-animation-type-flex .sqs-block h1 a, .tweak-global-animations-animation-type-flex .sqs-block h2 a, .tweak-global-animations-animation-type-flex .sqs-block h3 a, .tweak-global-animations-animation-type-flex .sqs-block h4 a, .tweak-global-animations-animation-type-flex .sqs-block h5 a, .tweak-global-animations-animation-type-flex .sqs-block h6 a, .tweak-global-animations-animation-type-flex .item-pagination-link--prev .item-pagination-title::after, .tweak-global-animations-animation-type-flex .item-pagination-link--next .item-pagination-title::after {
    animation: none!important;
    background: none!important;
    background-image: none!important;
}
.tweak-global-animations-animation-type-flex.secondary-button-style-outline .sqs-button-element--secondary:not(input)::before {
    animation: none!important;
    background: none!important;
    background-image: none!important;
    display: none!important;
}

/*Nav Item Bottom Padding*/
.header .header-nav-wrapper a, .header .language-item a, .header-nav-item button.header-nav-folder-title {
    padding: 0.4em 0px;
}

/*Paragraph Link Style*/
.tweak-global-animations-animation-type-flex .sqs-block p a {
    background-image: none!important;
}

/*Flex Borders*/
.tweak-global-animations-animation-type-flex .image-button a::before, .tweak-global-animations-animation-type-flex .sqs-add-to-cart-button::before, .tweak-global-animations-animation-type-flex .sqs-editable-button:not(input)::before, .tweak-global-animations-animation-type-flex .sqs-block-button-element::before, .tweak-global-animations-animation-type-flex [data-animation-role="header-element"] .btn::before, body:not(.button-style-default).primary-button-style-solid .site-wrapper:not(.with-button-variants) .sqs-editable-button-layout:before, .course-item__course-action-button:before, .header-menu-cta .sqs-button-element--primary:not(input):before {
    border-width: 1px!important;
}

/*Flex Nav Link*/
.tweak-global-animations-animation-type-flex .header-nav-item:not(.header-nav-item--folder) a::after {
    bottom: -0.2em !important;
}

/*Remove Carousel Button Show*/
.tweak-global-animations-animation-type-flex .user-items-list .sqs-button-element--primary::before {
    display: none!important;
}

/*Move Nav Up Desktop*/
.tweak-global-animations-animation-type-flex .header-display-desktop {
    margin-top: -17px !important;
}

/*Remove Flex Underline*/
.tweak-global-animations-animation-type-flex .header-nav-folder-item a::after {
    height: 0!important;
}

/*Force images to load*/
.summary-thumbnail.preFlex, .blog-item .image-wrapper.preFlex {
    opacity: 1!important;
    transform: unset!important;
    clip-path: unset!important;
}

/*Folder Nav Underline*/
body:not(.header--menu-open) .header-nav-item--active .header-nav-folder-title-text, body:not(.header--menu-open).header-nav-item--active.header-nav-folder-title-text, body:not(.header--menu-open) .header-nav-item--active .header-nav-folder-title-text span, span.header-nav-folder-title-text {
    background-image: none!important;
    background: none!important;
    background-size: unset!important;
    background-position: unset!important;
}